@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	@apply w-2;
	@apply h-2;
}

::-webkit-scrollbar-track {
	@apply !bg-transparent;
}
::-webkit-scrollbar-thumb {
	@apply rounded-sm !bg-muted-foreground/30;
}

html {
	scrollbar-color: hsla(0, 0%, 100%, 0.3);
}

/* Firefox */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar-color#browser_compatibility */
html {
	scrollbar-color: rgba(0, 0, 0, 0.2) rgba(255, 255, 255, 0.05);
}
html.dark {
	scrollbar-color: rgba(255, 255, 255, 0.1) rgba(0, 0, 0, 0.05);
}

html,
body {
	@apply p-0 m-0 overflow-hidden font-["Inter"];
}

@layer base {
	:root {
		--background: 0 0% 12%;
		--foreground: 213 31% 91%;
		--muted: 213 31% 91%;
		--muted-foreground: 0 0% 82%;
		--accent: 0 0% 19%;
		--accent-foreground: 210 40% 98%;
		--popover: 0 0% 15%;
		--popover-foreground: 0 0% 82%;
		--border: 0 0% 19%;
		--input: 0 0% 82%;
		--card: 224 71% 4%;
		--card-foreground: 213 31% 91%;
		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 1.2%;
		--secondary: 222.2 47.4% 11.2%;
		--secondary-foreground: 210 40% 98%;
		--destructive: 359 51% 48%;
		--destructive-foreground: 210 40% 98%;
		--ring: 216 34% 17%;
		--radius: 0.5rem;
		--radius: 0.5rem;
	}
}
@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
		font-feature-settings: 'rlig' 1, 'calt' 1;
	}
}
