h1 {
	display: block;
	font-size: 2em;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}

h2 {
	display: block;
	font-size: 1.5em;
	margin-top: 0.83em;
	margin-bottom: 0.83em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}

h3 {
	display: block;
	font-size: 1.17em;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}

h4 {
	display: block;
	margin-top: 1.33em;
	margin-bottom: 1.33em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}

h5 {
	display: block;
	font-size: 0.83em;
	margin-top: 1.67em;
	margin-bottom: 1.67em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}

h6 {
	display: block;
	font-size: 0.67em;
	margin-top: 2.33em;
	margin-bottom: 2.33em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}

ul {
	display: block;
	list-style-type: disc;
	margin-top: 0.5em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
	padding-left: 15px;
}

ul[data-type='taskList'] p {
	@apply m-0;
}

ul[data-type='taskList'] li {
	@apply flex;
}

ul[data-type='taskList'] li > label {
	@apply flex-[0_0_auto] mr-[0.5rem] select-none;
}

ul[data-type='taskList'] li > div {
	@apply flex-[1_1_auto];
}

ul[data-type='taskList'] li ul li,
ol li {
	display: list-item;
}

ul[data-type='taskList'] li ul[data-type='taskList'] > li {
	display: flex;
}

.tiptap {
	@apply text-white h-screen font-["Inter"];
}

.ProseMirror-focused {
	@apply outline-none;
}

pre {
	@apply bg-[#2e2a2a] rounded-md text-white font-["Fira_Code"] py-[0.75rem] px-[1rem];
}

pre code {
	@apply bg-none text-inherit text-[0.8rem] p-0;
}

.hljs-comment,
.hljs-quote {
	color: #616161;
}

.hljs-variable,
.hljs-template-variable,
.hljs-attribute,
.hljs-tag,
.hljs-name,
.hljs-regexp,
.hljs-link,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
	color: #f98181;
}

.hljs-number,
.hljs-meta,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params {
	color: #fbbc88;
}

.hljs-string,
.hljs-symbol,
.hljs-bullet {
	color: #b9f18d;
}

.hljs-title,
.hljs-section {
	color: #faf594;
}

.hljs-keyword,
.hljs-selector-tag {
	color: #70cff8;
}

.hljs-emphasis {
	font-style: italic;
}

.hljs-strong {
	font-weight: 700;
}

.tiptap p.is-editor-empty:first-child::before {
	color: #adb5bd;
	content: attr(data-placeholder);
	float: left;
	height: 0;
	pointer-events: none;
}

/* input[type='checkbox'] {
	@apply h-4 w-4 shrink-0 rounded-sm border border-white accent-transparent shadow focus-visible:outline-none focus-visible:ring-1 disabled:cursor-not-allowed disabled:opacity-50 data-[state=checked]:!bg-white data-[state=checked]:text-slate-500;
} */
